name: android_download_manager
description: This package lets you download files via Android Native Download Manager.
version: 1.0.0
repository: https://github.com/TamilKannanCV-personal/android_download_manager.git

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=1.20.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^1.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.tk.android_download_manager
        pluginClass: AndroidDownloadManagerPlugin
